# Env vars
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# Database
*.db
backend/data/

# Docker
pgdata/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Recordings
*.webp
*.mp4
